<!DOCTYPE html>
<html ng-app="userModule">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <base href="/">
  <title>Login</title>
  <link rel="stylesheet" href="css/app.css">
   <script src="js/config.js"></script>
  <script src="/vendor.js"></script>
  <script src="/app.js"></script>
</head>
<header>
  <div class="wrapper">
    <div class="contain clear">
      <div class="logo">
        <a href=""><img src="images/logo.png"/></a>
        <label>Your voice can change India</label>
      </div>
      <div class="navigation">
        <ul>
          <li><label>We are social!</label></li>
          <li class="social">
            <a href="">
              
              <img src="images/twitter.png"/>
            </a>
            <a href="">
              <img src="images/facebook.png"/>
            </a>
            <a href="">
              <img src="images/ecllipse.png"/>
            </a>
            <a href="">
              <img src="images/instagra.png"/>
            </a>
          </li>
          <li class="loginLink">
            <a href="">
              Sign in / Sign up
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
<div class="mainContain">
  <div class="wrapper">
    <div class="contain">
      <div class="container">
        <div class="mobileCover">
          <div class="mobileCarousal">
            <ul>
              <li>
                <img src="../images/phone/phone1.jpg"/>
              </li>
            </ul>
          </div>
          <div class="downloadPath">
            <a href="">
              <img src="../images/googlestore.png"/>
            </a>
            <a href="">
              <img src="../images/appstore.png"/>
            </a>
          </div>
        </div>
        <div class="mobileContent">
          <div class="loginContent">
            <div class="ulLink">
              <a href="">SignIn</a>
              <a href="">SignUp</a>
            </div>
            <div class="loginBox">
              <div class="loginWrap" ng-controller="loginController">
                <form name="loginForm" ng-submit="login(username, password)">
                  <div class="row">
                    <input type="text" value="" name="username" ng-model="username" ng-required="true"/>
                  </div>
                  <div class="row">
                    <input type="password" value="" name="pass" ng-model="password" ng-required="true"/>
                  </div>
                  <div class="row error" ng-if="loginErr">{{loginErrText}}</div>
                  <div class="row">
                    <input type="submit" value="{{loginSubmit}}">
                  </div>
                  
                </form>
                <div class="outerRow">
                    <ul class="clear">
                      <li><a href="">i forgot password</a></li>
                      <li><a href="">Sign Up</a></li>
                    </ul>
                </div>
                <div class="outerRowSocial">
                    <h4>or Signin with</h4>
                    <ul class="clear">
                      <li class="twitter"><a href="">twitter</a></li>
                      <li class="facebook"><a href="">facebook</a></li>
                      <li class="google"><a href="">google</a></li>
                    </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="homeContent">
  <div class="wrapper">
    <div class="contain">
      <div class="pageContent clear">
        <div>
          <h3>TAP – Your opinion counts!</h3>
          <h4>Welcome to TAP, an online platform that enables you to voice your opinion on issues that are current and relevant to the people of India.</h4>
          <p><strong>TAP, which is an acronym for ‘Take a Position’, throws open a range of topics every day and lets you take a position on them.</strong> You can also post your views on a topic and even raise issues, subject to TAP’s policies, that you believe require airing. </p>
          <p>TAP aims to serve as a platform for people from all walks of life and seeks to provide an opportunity to voice opinions and express views. Your opinion and those of people like you is the basis of ‘public opinion’ and is the foundation on which a vibrant democracy is built. </p>
          <p>Join TAP and let your voice be heard. It’s the first step in creating the change you seek.</p>
        </div>
        <div class="shortContent">
          <div>
            <h3>Do people in your circle agree with your views?</h3>
            <p>TAP helps you ﬁnd out the position taken by the people you know on various issues of common interest as well as trending topics.</p>
          </div>
          <div>
            <h3>Find out what others think of your views?</h3>
            <p>Post your views at TAP and ﬁnd out whether others agree or disagree with you.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>
<footer>
  <div class="wrapper">
    <div class="footerContain clear">
      <ul>
        <li class="logoPos">
          <a href=""><img src="../images/logo_footer.png"/></a>
        </li>
        <li>
          <h3>KNOW MORE</h3>
          <ul>
            <li>
              <a href="">Home </a>
            </li>
            <li><a href="">
              About TAP 
            </a></li>
            <li>
              <a href="">
                Contact Us 
              </a>
            </li>
            <li>
              <a href="">
                Terms of Service 
              </a>
            </li>
            <li><a href="">Privacy Policy </a></li>
          </ul>
        </li>
        <li>
          <h3>Explore</h3>
          <ul>
            <li>
              <a href="">Home </a>
            </li>
            <li><a href="">
              About TAP 
            </a></li>
            <li>
              <a href="">
                Contact Us 
              </a>
            </li>
            <li>
              <a href="">
                Terms of Service 
              </a>
            </li>
            <li><a href="">Privacy Policy </a></li>
          </ul>
        </li>
        <li>
          <h3>download</h3>
          <p><strong>TAP</strong> | Download the mobile app - Your voice change India. </p>
          <div class="social_footer">
            <a href="">
              <img src="../images/googlestore.png"/>
            </a>
            <a href="">
              <img src="../images/appstore.png"/>
            </a>
          </div>
        </li>
      </ul>
    </div>
    <div class="footerCopyright clear">
      <div>
        <label>2016 © taponlineindia. All rights reserved.</label><a href="" class="join">JOIN NOW</a>
      </div>
      <div class="social_logo">
        <div>
          <a href="">
              
              <img src="images/twitter_footer.png"/>
            </a>
            <a href="">
              <img src="images/facebook_footer.png"/>
            </a>
            <a href="">
              <img src="images/instagra_footer.png"/>
            </a>
            <a href="">
              <img src="images/in_footer.png"/>
            </a>
        </div>
        <label>@tapindiaonline</label>
      </div>
    </div>
  </div>
</footer>
</body>
</html>
